@import "./theme/theme.scss";

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 70px;
  font-family: $font-family;
  min-height: 100vh;
  width: 80%;
  margin: auto;
  .description {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    font-size: 0.85rem;
    max-width: var(--max-width);
    width: 100%;
    z-index: 2;
    font-family: $font-family;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: $small-spacing;
    }

    p {
      position: relative;
      margin: 0;
      padding: $medium-spacing;
      background-color: rgba($light-color, 0.5);
      border: 1px solid rgba($dark-color, 0.3);
      border-radius: $border-radius;
    }
  }

  .code {
    font-weight: 700;
    font-family: $font-family;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(25%, auto));
    max-width: 100%;
    width: var(--max-width);

    .card {
      padding: $medium-spacing $medium-spacing * 1.2;
      border-radius: $border-radius;
      background: rgba($light-color, 0);
      border: 1px solid rgba($dark-color, 0);
      transition: background 200ms, border 200ms;

      span {
        display: inline-block;
        transition: transform 200ms;
      }

      h2 {
        font-weight: 600;
        margin-bottom: $small-spacing;
      }

      p {
        margin: 0;
        opacity: 0.6;
        font-size: 0.9rem;
        line-height: $line-height;
        max-width: 30ch;
        text-wrap: balance;
      }

      &:hover {
        background: rgba($light-color, 0.1);
        border: 1px solid rgba($dark-color, 0.15);
      }

      &:hover span {
        transform: translateX(4px);
      }
    }
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: $large-spacing 0;

    &::before {
      background: $secondary-color;
      border-radius: 50%;
      width: 480px;
      height: 360px;
      margin-left: -400px;
    }

    &::after {
      background: $primary-color;
      width: 240px;
      height: 180px;
      z-index: -1;
    }

    &::before,
    &::after {
      content: "";
      left: 50%;
      position: absolute;
      filter: blur(45px);
      transform: translateZ(0);
    }
  }

  .logo {
    position: relative;
  }

  @media (hover: hover) and (pointer: fine) {
    .card {
      &:hover {
        background: rgba($light-color, 0.1);
        border: 1px solid rgba($dark-color, 0.15);
      }

      &:hover span {
        transform: translateX(4px);
      }
    }
  }

  @media (prefers-reduced-motion) {
    .card {
      &:hover span {
        transform: none;
      }
    }
  }

  @media (max-width: $breakpoint-sm) {
    .content {
      padding: $large-spacing;
    }

    .grid {
      grid-template-columns: 1fr;
      margin-bottom: $large-spacing * 6;
      max-width: 320px;
      text-align: center;
    }

    .card {
      padding: $medium-spacing $large-spacing * 2.5;
    }

    .card h2 {
      margin-bottom: $small-spacing;
    }

    .center {
      padding: $large-spacing * 2 $large-spacing 0;
    }

    .center::before {
      transform: none;
      height: 300px;
    }

    .description {
      font-size: 0.8rem;
    }

    .description a {
      padding: $medium-spacing;
    }

    .description p,
    .description div {
      display: flex;
      justify-content: center;
      position: fixed;
      width: 100%;
    }

    .description p {
      align-items: center;
      inset: 0 0 auto;
      padding: $medium-spacing $small-spacing * 2 $medium-spacing * 1.4;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid rgba($dark-color, 0.25);
      background: linear-gradient(
        to bottom,
        rgba($light-color, 1),
        rgba($light-color, 0.5)
      );
      background-clip: padding-box;
      backdrop-filter: blur(24px);
    }

    .description div {
      align-items: flex-end;
      pointer-events: none;
      inset: auto 0 0;
      padding: $medium-spacing * 2;
      height: 200px;
      background: linear-gradient(to bottom, transparent 0%, $light-color 40%);
      z-index: 1;
    }
  }

  @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg) {
    .grid {
      grid-template-columns: repeat(2, 50%);
    }
  }

  @media (prefers-color-scheme: dark) {
    .vercelLogo {
      filter: invert(1);
    }

    .logo {
      filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
}
