@import "./theme/theme.scss";

.container {
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  padding-bottom: 20px;

  h1 {
    padding: 20px 0;
  }

  .body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px; // Limit the width to 1000px
    justify-content: center;
    gap: 20px;
    padding: 0 20px; // Add padding to ensure spacing on smaller screens

    @media screen and (max-width: 768px) {
      width: 100%; // Ensure the width adjusts to smaller screens
      gap: 10px; // Reduce gap for smaller screens
    }
  }
}
.sidebar {
  color: #fff;
  width: 300px; // Adjusted width for responsiveness
  z-index: 1;
  position: fixed;
  text-align: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #333; // Ensure background color for better visibility

  @media screen and (max-width: 768px) {
    width: 50%; // Full width for smaller screens
    height: auto; // Adjust height for smaller screens
    bottom: auto; // Remove bottom fixed position
    top: 0; // Fixed to the top
    left: 0; // Full width
  }
}

.sidebarclose {
  display: none; // Fix the display property
}
